@model FitnessstudioLib.Person

@{
    ViewBag.Title = "Details";
}

<h2>Informationen</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nachname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nachname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wohnort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wohnort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleStaff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleStaff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleMember)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleMember)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Zurück", "Index")
</p>
