@model FitnessstudioWebApp.Models.Add

@{
    ViewBag.Title = "Delete";
}

<h3>Wollen Sie die Leistung wirklich entfernen?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Leistung.Bezeichnung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leistung.Bezeichnung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.Nachname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Nachname)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Entfernen" class="btn btn-default" /> |
            @Html.ActionLink("Zurück", "Index")
        </div>
    }
</div>
